body {
    padding: 0;
    margin: 0;
    background-color: bisque;
}

#container {
    width: 1000px;
/*    text-align: center;*/
    margin: 0 auto;
}

.left {
    width: 700px;
    background-color: azure;
}

.right {
    width: 300px;
    background-color: white;
}

.floatLeft {
    float: left;
}

#container:after {
    content: "";
    display: block;
    clear: both;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav > ul > li {
    padding: 5px 10px;
    text-align: center;
}

h1.menu {
    text-transform: uppercase;
    text-align: center;
}