<div class="well">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="imput-group">
                
                <input type="text" class="form-controll" placeholder="Opis artykułu" ng-model="title">
                
                <input type="text" class="form-controll" placeholder="Wklej obrazek auta" ng-model="image">
                <textarea class="form-controll" name="description" ng-model="content" placeholder="Tersc artykułu"></textarea>
                <select class="form-controll" ng-model="brand">
                    <option ng-repeat="b in brands" 
                    value="{{b.id}}">{{ b.name }}</option>
                </select>
                 <select class="form-controll" ng-model="model">
                    <option ng-repeat="b in models" 
                    value="{{b.id}}">{{ b.name }}</option>
                </select>
                <button class="btn btn-success m-t-30" type="butoon" ng-click="add()">Dodaj aukcje</button>
            </div>
        </div>
    </div>
</div>
