<div class="well">
    <h3>{{ auction.title }}</h3>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ auction.image }}" />
        </div>
        <div class="col-md-3">
            <p>{{ auction.brand.name }}</p>
            <p>{{ auction.model.name }}</p>
            <p>{{ auction.content }}</p>
        </div>      
    </div>
</div>