<div class="well">
    <div class="row">
        <div class="col-md-offset-3 col-mid-6">
        <h3>Wynierz model</h3>
        <hr>
        <div class="input-group">
            <p>{{ brand.name }}</p>
            <input type="text" class="form-controll" ng-model="name" placeholder="Podaj model" />
            <hr>
                <button type="submit" class="btn btn-primary" ng-click="add()">Dodaj</button>      
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <hr>
            <h3>Modele</h3>
            <ul>
                <li ng-repeat="m in models"><a href="/#!add/{{ m.id }}">{{ m.name }}</a></li>
            </ul>
        </div>
    </div>
</div>