<div class="well">
    <div class="row">
        <div class="col-mid-offset-4 col-mid-6">
            <h3>Dodaj marke i model do bazy</h3>
            <hr>
            <div class="input-group">
                <input type="text" class="form-controll" ng-model="name" placeholder="Podaj markę" />
                <hr>
                <button type="submit" class="btn btn-primary" ng-click="add()">Dodaj</button>    
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3>Marki</h3>
            <hr>
            <ul>
                <li ng-repeat="brand in brands"><a href="/#!brand/{{ brand.id }}">{{ brand.name }}</a></li>
            </ul>
        </div>
    </div>
</div>