<div class="well">
    <h3>Wszystkie Aukcje</h3>
    <div class="row">
    <div class="col-md-6">
    <ul>
        <li ng-repeat="auction in auctions">
            <div class="well">
            <a href="/#!main/{{ auction.id }}">{{ auction.title }}</a>
                <a href="/#!delete/{{ auction.id}}">Usuń</a>
            <img src="{{auction.image}}" />
            </div>
        </li>
    </ul>
</div>
</div>
</div>