body {
    font-family: "Verdana", "Times New Roman", sans-serif;
}

.paragraph {
    font-size: 18pt;
 }

 .paragraphColor {
       background-color: greenyellow;
       color: brown;
}

.borderBlue {
    border: 3px solid blue;
 }

.wraper {
    border: 2px solid pink;
    margin: 10px;
    padding: 10px;
    width: 300px;
}
a {
    color: violet;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}
.simpleText:before {
    content: ",,";
    
}

.simpleText:after {
    content: "''";
}