<!DOCTYPE html>
<html ng-app="converter">
    <head>
        <title>Stopnie</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <div id="container" ng-controller="temperature">
               
                Celsiusz <input type="text" ng-model="cel" ng-keyup="computeC()" />
                Kelwin <input type="text" ng-model="kel" ng-keyup="computeK()" />
                Farenheit <input type="text" ng-model="fah" ng-keyup="computeF()" />
                
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
        <script src="./js/app.js">
        </script>
    </body>
</html>