body {
    padding: 0;
    margin: 0;
    background-color: lightblue;
}

#container {
    width: 600px;
/*    text-align: center;*/
    margin: 0 auto;
}
.center {
    text-align: center;
     width: 600px;
    height: 500px;
    background-color: azure;
}
.under{
    text-align: center;
    height: auto;
    padding: 20px;
     width: auto;
    background-color: azure;
}

.left {
    width: 700px;
    background-color: azure;
}

.right {
    width: 300px;
    background-color: white;
}

.floatLeft {
    float: left;
}

#container:after {
    content: "";
    display: block;
    clear: both;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav > ul > li {
    padding: 5px 10px;
    text-align: center;
}

h1.menu {
    text-transform: uppercase;
    text-align: center;
}

label {
    cursor: pointer;
}

#search {
    padding: 10px;
    font-size: larger;
}

#przycisk {
    width: 80px;
    height: 35px;
}