body {
    background-color: aqua;
}
#container {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    background-color: chartreuse;

}
.myHeader{
    height: 80px;
    background-color: indianred;
}

.center {
    text-align: center;
    width: 1500px;
    height: 100px;
    background-color: indianred;
}

.sidebar {
    width: 200px;
    float: left;
    background-color: chartreuse;
}
.myFooter {
    background-color: white;
    padding: 15px;
    text-align: center;
}

.mainContent {
    width: 750px;
    height: auto;
    float: right;
    background-color: white;
}