<div class="well">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Podaj imie urzytkownika" ng-model="name">
            <input type="text" class="form-control" placeholder="Podaj nazwisko urzytkownika" ng-model="lastname">
            <input type="text" class="form-control" placeholder="Podaj pensje urzytkownika" ng-model="salary">
            <h3>Lista Profesji</h3>
            <hr class="grzesiaLinia">
            <select class="form-control" ng-model="profession">
                <option ng-repeat="p in professions" value="{{ p.id }}">{{ p.name }}</option>
            </select>
            <button class="btn btn-success m-t-30" type="button" ng-click="add()">Dodaj urzytkownika</button>
        </div>
    </div>
    </div>
    
</div>