<div class="well">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3>Lista Osób</h3>
            <hr class="grzesiaLinia">
            <ul>
                <li ng-repeat="user in users"><a href="/#!user/{{ user.id }}">{{ user.name }}</a></li>
            </ul>
        </div>
    </div>
</div>